body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
    
.title{
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
    font-weight: 600;
    padding: 2% 0 0 10%;
}

.character{
    max-width: 350px;
    max-height: 320px;
    position: absolute;
    top: 10%;
}

.description1{
    position: relative;
    left: 47%;
    width: 700px;
    font-size: 1.5rem;
}

/*BREAKPOINTS*/
  /* Small devices (landscape phones, 576px and up) */
  @media (max-width: 575.98px) {
    .title{
        font-family: 'Libre Baskerville', serif;
        font-size: 3rem;
        font-weight: 600;
    }
    
    .character{
        position: absolute;
        top: 10%;
        left: -30%;
    }
    
    .description1{
        position: absolute;
        top: 70%;
        left: 12%;
        width: 600px;
        font-size: 1.5rem;
        justify-content: center;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
      
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      
  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
      
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
      
  }
/*BREAKPOINTS*/